html{
  height: 100vh;
}

.pageAdmin{
    color: black;
}

.choixdate{
    color: black;
}

.listeProduits{
    display: block!important;
    background-color: inherit;
}
body {
width: 100wh;
color: #fff;
margin: 0;
background-color: white;
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
}
.navig{
  border-right: solid 1px rgba(0, 0,0, 0.2);
  height: 100vh;
}

.side-nav li{
  color: rgba(0,0,0,0.87);
}

.infos{
  padding-left: 15px;
  color: black;
}

.connexion{
  background-color: white;
  width: 280px !important;
  margin-top: 50vh!important; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
  padding: 20px;
  color: #000000;
  border-radius: 5px;
  height: 490px!important;
}

.container{
    padding: 0px!important;
}

/*.login-form{
  width: 280px !important;
}*/

.btn-connexion{
  background-color: white!important;
  border-radius: 5px;
  color: #E73C7E!important;
}

.btn-connexion:hover{
  background-color: #E73C7E;
}

.container .row {
    margin-left: 0px!important;
    margin-right: 0px!important;

}

.error{
    font-family: 'Roboto';
    color : red;
}

.Bonjour {
/*line-height:300px;
width:500px;
background-color: pink;*/
font-family: 'Pacifico', cursive;
text-align: center;
font-size: 50px;
color: white;
padding-bottom: 10px;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #EE7752, #E73C7E);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;





}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
